*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html{
   font-family: sans-serif;
   line-height: 19px;
}

header{
   background-color: #FF6900;
   z-index: 1;
}

footer{
   background-color: #1A1A1A;
   color: white;
   line-height: 30px;
}

.centering{
   width: 80%;
   margin: 0 auto;
   padding: 15px 0;
}

.gender a{
   text-decoration: none;
   color: white;
   margin: 0 5px;
   font-size: 1.1rem;
}

.footer a{
   text-decoration: none;
   color: white;
   font-size: 1.1rem;
}

.gender a:hover{
   text-decoration: underline;
}

.flex-nav{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.flex{
   display: flex;
   justify-content: space-between;
}

.logo{
   width: 10%;
}

.icon-nav{
   color: white;
}

.icon{
   margin: 0 15px;
   font-size: 1.2rem;
}

.fixed{
   position: fixed;
   width: 100%;
   top: 0;
}

.card{
   width: calc(100% / 3);
   margin: 0 10px;
}

.cards{
   margin-top: 120px;
   position: relative;
}

.cards-2{
   margin-top: 20px;
   position: relative;
   
}

.card{
   position: relative;
}

.card img{
   width: 100%;
}

.sale{
   background-color: red;
   color: white;
   padding: 5px;
}

.sostenibility{
   background-color: green;
   color: white;
   padding: 5px;
}

.tags{
   font-weight: 700;
   position: absolute;
   bottom: 100px;
} 

.wishlist{
   position: absolute;
   top: 10px;
   right: 15px;
   font-size: 1.7rem;
}

.brand{
   font-size: 0.8rem;
}

.model,
.new-price{
   font-weight: 700;
}

.new-price{
   color: red;
   font-size: 0.9rem;
}

.old-price{
   font-size: 0.9rem;
   text-decoration: line-through;
}

.b-img{
   display: none;
   position: absolute;
   top: 0;
}

.b-wishlist{
   display: none;
   position: absolute;
   top: 10px;
   right: 15px;
   font-weight: 700;
   font-size: 1.7rem;
   color: red;
}

.card:hover .b-img{
   display: block;   
}

.wishlist:hover .b-wishlist{
   display: block;
}


.boolean{
   font-size: 1.3rem;
   font-weight: 700;
   margin-left: 5px;
}

.info{
   margin: 0 5px;
}

.footer{
   position: relative;
   margin-top: 60px;
}

.social{
   position: absolute;
   top: 15px;
   right: 0%;
}

.footer-logo{
   margin: 5px 5px;
}

